.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 104px;
  padding-bottom: 56px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 186px;
    padding-bottom: 110px;
    max-width: 1440px;
  }
}

.hero-container {
  @include media(desktop) {
    padding: 0 110px;
  }
}

.hero-content-wrapper {
  @include media(desktop) {
    position: relative;
  }
}

.hero-subtitle {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #131422;
  margin-bottom: 8px;

  @include media(desktop) {
    text-align: left;
    margin-bottom: 8px;
  }
}

.hero-main-title {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  text-align: center;
  color: #667390;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 56px;
    text-align: left;
    margin-bottom: 40px;
  }
}

.hero-text {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #131422;
  margin-bottom: 32px;

  @include media(desktop) {
    text-align: left;
    margin-bottom: 15px;
  }
}

.hero-bg-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;

  @include media(desktop) {
    min-width: 550px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.hero-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;

  @include media(desktop) {
    flex-direction: row-reverse;
    justify-content: start;
    gap: 30px;
  }
}

.hero-img {
  @include media(desktop) {
    min-width: 238px;
  }
}

.hero-btn {
  box-shadow: 2px 2px 2px 0 rgba(26, 40, 42, 0.5);
  background: #da5a2f;
  border-radius: 999px;
  padding: 18px 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin: 0;
  }
}
