<section class="section contact-section" id="contact">
  <div class="section-title-wrapper contact-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title contact-title">contact us</h2>
    </div>
  </div>
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <p class="contact-text">Questions or feedback:</p>
        <a href="mailto:info@evelfactory.space" class="contact-email-link">
          <svg class="email-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-email"></use></svg
          ><span>info@evelfactory.space</span></a
        >
      </div>
    </div>
    <img
      class="contact-img"
      src="./img/contact/contact-img.png"
      alt="Screenshot of the game"
      width="266"
      height="216"
      loading="lazy"
    />
  </div>
</section>
