<section class="section faq-section" id="faq">
  <div class="section-title-wrapper faq-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title faq-title">FAQ</h2>
    </div>
  </div>
  <div class="faq-bg-wrapper">
    <div class="container faq-container">
      <ul class="faq-list">
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text"
                >Is Snake Puzzle: Maze Escape easy to learn?</span
              >
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="18">
                  <use href="./img/sprite.svg#icon-arrow-down"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">
              Yes — controls are intuitive and tutorial levels help you get
              started.
            </p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Does the game require internet?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="18">
                  <use href="./img/sprite.svg#icon-arrow-down"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">No — offline play is supported.</p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Are there many levels?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="18">
                  <use href="./img/sprite.svg#icon-arrow-down"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">
              Yes — hundreds of unique mazes to solve.
            </p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Is the difficulty balanced?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="18">
                  <use href="./img/sprite.svg#icon-arrow-down"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">
              Absolutely — early levels are gentle, and complexity increases
              gradually.
            </p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Can I replay levels to improve?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="18">
                  <use href="./img/sprite.svg#icon-arrow-down"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">
              Yes — refine your strategy and optimize moves.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
