<section class="section features-section" id="features">
  <div class="section-title-wrapper features-title-wrapper">
    <div class="container section-title-container features-title-container">
      <h2 class="section-title features-title">Features & Benefits</h2>
      <p class="features-text">
        You'll definitely get better at thinking ahead, plus it's just fun to
        play.
      </p>
    </div>
  </div>
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <img
          class="features-img"
          src="./img/features/features-img-mob.png"
          alt="Screenshot of the game"
          width="343"
          height="334"
          loading="lazy"
        />
        <ul class="features-list">
          <li class="features-list-item">
            <div class="features-item-circle"></div>
            <p class="features-item-text">
              Hundreds of handcrafted maze levels with clever challenges
            </p>
          </li>
          <li class="features-list-item">
            <div class="features-item-circle"></div>
            <p class="features-item-text">
              Offline support — no internet required
            </p>
          </li>
          <li class="features-list-item">
            <div class="features-item-circle"></div>
            <p class="features-item-text">
              Great for when you want to unwind but still give your brain a
              little workout
            </p>
          </li>
          <li class="features-list-item">
            <div class="features-item-circle"></div>
            <p class="features-item-text">
              Intuitive controls make navigation easy for all ages
            </p>
          </li>
          <li class="features-list-item">
            <div class="features-item-circle"></div>
            <p class="features-item-text">
              Clean visuals and smooth movements enhance the logic puzzle feel
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
