<section class="section gameplay-section" id="gameplay">
  <div class="section-title-wrapper gameplay-title-wrapper">
    <div class="container section-title-container gameplay-title-container">
      <h2 class="section-title gameplay-title">How to Play</h2>
      <p class="gameplay-text">
        Take your time with this one - rushing will just get you stuck.
      </p>
    </div>
  </div>
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <ul class="gameplay-list">
          <li class="gameplay-list-item">
            <svg class="gameplay-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-inspect"></use>
            </svg>
            <p class="gameplay-item-text">
              Study the maze layout to find the safest route
            </p>
          </li>
          <li class="gameplay-list-item">
            <svg class="gameplay-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-guide"></use>
            </svg>
            <p class="gameplay-item-text">
              Swipe or tap to guide snakes through paths and around obstacles
            </p>
          </li>
          <li class="gameplay-list-item">
            <svg class="gameplay-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-settings"></use>
            </svg>
            <p class="gameplay-item-text">
              Avoid dead ends and plan ahead — one wrong move may trap your
              snake
            </p>
          </li>
          <li class="gameplay-list-item">
            <svg class="gameplay-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-logic"></use>
            </svg>
            <p class="gameplay-item-text">
              Solve each puzzle with logic, not reflexes
            </p>
          </li>
          <li class="gameplay-list-item">
            <svg class="gameplay-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-progress"></use>
            </svg>
            <p class="gameplay-item-text">
              Progress through hundreds of levels with increasing challenge
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
