<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <p class="hero-subtitle">Plan Your Moves.</p>
        <h1 class="hero-main-title">Escape the Maze.</h1>
        <p class="hero-text">
          Guide each snake through clever maze puzzles and unlock smarter
          strategies.
        </p>
        <picture>
          <source
            srcset="./img/hero/hero-bg-desk.png"
            media="(min-width: 1440px)"
            width="550"
            height="405" />
          <source
            srcset="./img/hero/hero-bg-mob.png"
            width="343"
            height="253" />
          <img
            class="hero-bg-img"
            src="./img/hero/hero-bg-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="253"
        /></picture>
        <div class="hero-btn-wrapper">
          <picture>
            <source
              srcset="./img/hero/hero-img-desk.png"
              media="(min-width: 1440px)"
              width="238"
              height="198" />
            <source
              srcset="./img/hero/hero-img-mob.png"
              width="98"
              height="81" />
            <img
              class="hero-img"
              src="./img/hero/hero-img-mob.png"
              alt="Screenshot of the game"
              width="98"
              height="81"
          /></picture>
          <a
            class="hero-btn"
            target="_blank"
            href="https://play.google.com/store/apps/details?id=com.snakepuzzle.logicmaze&hl=en&gl=us"
            rel="noopener noreferrer"
            aria-label="Download on Google Play"
          >
            <img
              class="hero-play-img"
              src="./img/hero/hero-play-img.png"
              alt="Google Play"
              width="209"
              height="45"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
