<section class="section uniqueness-section" id="uniqueness">
  <div class="section-title-wrapper uniqueness-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title uniqueness-title">Our Uniqueness</h2>
    </div>
  </div>
  <div class="uniqueness-bg-wrapper">
    <div class="container uniqueness-container">
      <p class="uniqueness-text">
        There's nothing quite like that 'aha!' moment when you finally crack a
        tough puzzle.
      </p>
      <p class="uniqueness-list-text">
        What sets Snake Puzzle: Maze Escape apart:
      </p>
      <div class="uniqueness-content-wrapper">
        <ul class="uniqueness-list">
          <li class="uniqueness-list-item">
            <img
              class="uniqueness-img"
              src="./img/uniqueness/uniqueness-img1.png"
              alt="Screenshot of the game"
              width="64"
              height="64"
              loading="lazy"
            />
            <p class="uniqueness-item-text">
              Combines classic snake movement with maze logic challenges
            </p>
          </li>
          <li class="uniqueness-list-item">
            <img
              class="uniqueness-img"
              src="./img/uniqueness/uniqueness-img2.png"
              alt="Screenshot of the game"
              width="64"
              height="64"
              loading="lazy"
            />
            <p class="uniqueness-item-text">
              Every level is designed by hand - no random computer-generated
              stuff here
            </p>
          </li>
          <li class="uniqueness-list-item">
            <img
              class="uniqueness-img"
              src="./img/uniqueness/uniqueness-img3.png"
              alt="Screenshot of the game"
              width="64"
              height="64"
              loading="lazy"
            />
            <p class="uniqueness-item-text">
              Requires strategy and sequence thinking instead of high-speed
              reactions
            </p>
          </li>
          <li class="uniqueness-list-item">
            <img
              class="uniqueness-img"
              src="./img/uniqueness/uniqueness-img4.png"
              alt="Screenshot of the game"
              width="64"
              height="64"
              loading="lazy"
            />
            <p class="uniqueness-item-text">
              Suitable for both casual gamers and puzzle lovers
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
